:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/MoonStars.svg);
  --profile-img: url(./assets/avatar.png);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assets/Sun.svg);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background: color img repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  margin: 24px auto;
}
#profile img {
  width: 112px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s, outline 0.3s;
  padding: 8px;
  gap: 8px;
}
.light #switch button {
  transform: translateX(100%) translateY(-50%);
}
#switch button:hover {
  outline: 8px solid var(--surface-color-hover);
}
#switch span {
  display: block;
  border-radius: 9999px;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#profile {
  text-align: center;
}
#profile img {
  image-rendering: var(--profile-img);
}
#profile p {
  font-weight: 500;
  font-size: 16px;
  margin: 8px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#socials {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
  gap: 6px;
}
#socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}
#socials a:hover {
  background: var(--surface-color-hover);
}
.popUP {
  min-height: fit-content;
  background: #ddd;
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 99;
  padding: 0px 24px 24px;
  visibility: hidden;
  transition: transform 0.4s;
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
}
.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popUP h1 {
  font-size: 24;
  padding: 19px;
  color: #333;
  text-align: center;
}
.popUP .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  padding: 12px;
}
.popUP .image-container .imageG {
  width: 100px;
  height: 100px;
  overflow: hidden;
  outline: 3px solid white;
}
.popUP .image-container .imageG img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
  cursor: pointer;
}
.popUP .image-container .imageG:hover img {
  transform: scale(1.1);
}
.popUP .popUPimg {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 130%;
  z-index: 100;
  display: none;
  transform: translate(-50%, -50%);
}
.xpams {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #bbb;
  z-index: 1000;
  cursor: pointer;
  display: none;
  text-shadow: 0px 0px #fff;
}
.xomps {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 25px;
  font-weight: bolder;
  color: #555;
  z-index: 99;
  cursor: pointer;
}
.popUP .popUPimg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #fff;
  border-radius: 8px;
  width: 750px;
  object-fit: cover;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 24px;
}
/* media queries */
@media (max-width: 1000px) {
  .popUP .popUPimg img {
    width: 130%;
  }
}
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
